<footer id="footer-bar" class="row" style="opacity: 1;">
  <p id="footer-copyright" class="col-xs-12">
    © 2014 <a href="#####" target="_blank">Adbee digital</a>. Powered by Centaurus Theme.
  </p>
</footer>